<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    <body>
        <h1>New Gun</h1>
        <div class="">
            <form class="colums" action="/guns" method="POST">
                Name:<input class = column type="text" name="name" value="">
                <br>
                Description:<input class = column type="text" name="description" value="">
                <br>
                Class:<input class = column type="text" name="class" value="">
                <br>
                Ammo:<input class = column type="text" name="ammo" value="">
                <br>
                Fire Rate:<input class = column type="number" name="fireRate" value="">
                <br>
                Damage:<input class = column type="number" name="damage" value="">
                <br>
                DPS:<input class = column type="number" name="dps" value="">
                <br>
                ADS Speed:<input class = column type="number" name="adsSpeed" value="">
                <br>
                Reload time:<input class = column type="number" name="reloadTime" value="">
                <br>
                Recoil Pattern:<input class = column type="text" name="recoil" value="">
                <br>
                Image:<input class = column type="text" name="img" value="">
                <input class = 'button is-success' type="submit"  >
            </form>
        </div>
        <%- include ('../partials/footer.ejs') %>
    </body>
</html>
