<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    <body>
        Log in User
        <form class="" action="/sessions" method="POST">
            <input type="text" name="username" required>
            <input type="password" name="password" value="">
            <input type="submit"  value="submit">
        </form>
        <%- include ('../partials/footer.ejs') %>
    </body>
</html>
